@media screen and (max-width: 1024px) {
	.fon {
		position: relative;
		width: 100%
	}
	.contacts1 {
		position: absolute;
		bottom: 92%;
		left: 1%;
		font-size: 25px;

	}
	.menu {
		text-align: center;
	}
	header h1 {
		position: absolute;
		font-size: 50px;
		bottom: 81%;
		left: 16%;
		width: 68%;
	}
	header h2 {
		position: absolute;
		font-size: 16px;
		bottom: 69%;
		left: 23%;
		width: 54%;
	}
	.btn {
		position: absolute;
		bottom: 55%;
		left: 33%;
	}
	.wrapper2 {
		width: 100%;
		max-width: 1060px;
	}
	.pack,
	.full,
	.price {
		margin: 2%;
	}
	.price {
		margin: 2% 2% 80px 2%;
	}
	.des {
		width: 40%;
	}
	.des p {
		width: 96%;
		line-height: 1.1 ;
	}
	.dos {
		width: 40%;
	}
	.dos p {
		width: 96%;
		line-height: 1.1 ;
	}
	.use {
		width: 40%;
	}
	.use p {
		width: 96%;
		line-height: 1.1 ;
	}
	.time {
		width: 40%;
	}
	.time p {
		width: 96%;
		line-height: 1.1 ;
	}
@media screen and (max-width: 768px) {
	
	
}